#table-responsive
  table#dataSetTable.table.table-striped.table-bordered
    caption
      h3 Existing Datasets 
        span#rowCount
    thead
      tr
        th Name
        th Description
        th Optimized?
        th(style="width: 25%") Actions
br
output#dsList_status_response
