br
br
form#configdsform.form-horizontal
  fieldset
    // Text input
    .form-group
      label.col-md-4.control-label(for='config_dsName_input') Dataset name
      .col-md-6
        input#config_dsName_input.form-control.input-md(type="input", disabled='disabled', name="config_dsName_input")
    // Text input
    .form-group
      label.col-md-4.control-label(for='') JSON File for the Data Set Configuration
      .col-md-6
        input#input_json_file.btn-primary(type="file")
output#json_list
output#config_status_response
#accordion.panel-group
  #panel2.panel.panel-default
    .panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-target='#collapseTwo', href='#collapseTwo') Server Response
    #collapseTwo.panel-collapse.collapse
      .panel-body
        pre
          code#json_content
