br
form#createform.form-horizontal
  fieldset
    legend Create a New Data Set
    // Text input
    .form-group
      label.col-md-4.control-label(for='name') Name
      .col-md-6
        input#name.form-control.input-md(name='name', type='text', data-toggle="popover", data-animation="true", data-trigger="focus", data-placement="bottom", data-content="The unique identifier for a data set. Cannot contain spaces. Once created, this name cannot be changed")
        //input#name.form-control.input-md(name='name', type='text')
        //span.help-block The unique identifier for a data set. Cannot contain spaces. Once created, this name cannot be changed.
    // Text input
    .form-group
      label.col-md-4.control-label(for='description') Description
      .col-md-6
        input#description.form-control.input-md(name='description', type='text', data-toggle="popover", data-animation="true", data-trigger="focus", data-placement="bottom", data-content="A friendly description or text display value for the data source to be used in other applications such as NeuronDiscover. This description can be changed as necessary, unlike Name.")
        //span.help-block A friendly description or text display value for the data source to be used in other applications such as NeuronDiscover. This description can be changed as necessary, unlike Name.
    // Select Basic
    .form-group
      label.col-md-4.control-label(for='optimized') Optimized
      .col-md-2
        select#optimized.form-control(name='optimized')
          option(value='true') True
          option(value='false') False
    // Button
    .form-group
      label.col-md-4.control-label(for='createbtn')
      .col-md-4
        button#createbtn.btn.btn-success(type='submit', disabled="disabled") Create
br
output#create-status-response
#accordion.panel-group
  #panel1.panel.panel-default
    .panel-heading
      h4.panel-title
        a.collapsed(data-toggle='collapse', data-target='#collapseOne', href='#collapseOne') Server Response
    #collapseOne.panel-collapse.collapse
      .panel-body
        pre
          code#create-content
