br
br
//form#upload_ds_form.form-horizontal(method="post" enctype="multipart/form-data" action="/actions")
form#upload_ds_form.form-horizontal(method="post" enctype="multipart/form-data")
  fieldset
  .form-group
    label.col-md-4.control-label(for="upload_dsName_input") Dataset name
    .col-md-6
      //input#upload_dsName_input.form-control.input-md(type="text" name="upload_dsName_input" placeholder="Dataset name")
      input#upload_dsName_input.form-control.input-md(type="text" name="upload_dsName_input" placeholder="Dataset name" disabled="disabled")
  .form-group
    label.col-md-4.control-label(for="upl") CSV Data Set file
    .col-md-6
      input#upl.btn-primary(type="file" name="upl")
  //.form-group
  //  label.col-md-4.control-label(for="upload_btn")
  //  .col-md-6
  //    input#upload_btn.btn.btn-success(type="submit")
output#upload_status_response
.container-fluid
  .row
    .col-md-12
      #accordion.panel-group
        #panel4.panel.panel-default
          .panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-target="#collapseFour", href="#collapseFour") Job Status
          #collapseFour.panel-collapse.collapse
            .panel-body
              form.form-inline
                .form-group
                  label.sr-only(for="upload-job-id-input") Job ID
                  .input-group
                    .input-group-addon ID
                    input#upload_job_id_input.form-control(type="text", placeholder="Job ID")
                  button#get_upload_status_btn.btn.btn-success(type="button") Get Job Status
                pre
                  code
                    #upload_content
                
