br
br
form#filtersform.form-horizontal
  fieldset
    // Text input
    .form-group
      label.col-md-4.control-label(for='filters_ds_name_input') Data Set name
      .col-md-6
        input#filters_ds_name_input.form-control.input-md(type="text", name="filters_ds_name_input", disabled='disabled')
