footer.footer-distributed
  .footer-right
    a(href='http://www.thingworx.com', target='_blank')
      i.fa.fa-home  
    a(href='https://www.linkedin.com/company/thingworx', target="_blank")
      i.fa.fa-linkedin
    a(href='https://twitter.com/ptc')
      i.fa.fa-twitter
    a(href='/https://www.facebook.com/PTC.Inc')
      i.fa.fa-facebook
  .footer-left
    p 
      b Thingworx, a PTC Business &copy; 2015
    br
    p 
      b #{appName} v.#{appVersion} 
      | - Idea and development by 
      a(href="https://www.linkedin.com/in/mircoveltri") Mirco Veltri.
    p Built with 
      a(href="") ExpressJS
      | , 
      a(href="") Bootstrap 
      | and 
      a(href="") JQuery
      | .
