header.header-basic
  .header-limiter
    h1
      a(href='http://www.thingworx.com')
        img(src="/images/twx_logo.png",  alt='signals image', width='250', height='50')
    |     
    nav
      a(class=title=='Home'?'active':undefined)(href='/') Home
      |       
      a(class=title=='Learn More'?'active':undefined)(href='/learn') Learn More
      |       
      a(class=title=='Getting Started'?'active':undefined)(href='/actions') Getting Started
      |       
      a(class=title=='Glossary'?'active':undefined)(href='/glossary') Glossary
      
