extends layouts/home

block content
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3(class="masthead-brand")
							a(href='http://www.thingworx.com')
								img(src="/images/twx_logo.png",  alt='signals image', width='220', height='50')
						nav
							ul(class="nav masthead-nav")
								li.active
									a(href="/") Home
								li
									a(href="/learn") Learn More
								li
									a(href='/actions') Getting Started
								li
									a(href="/glossary") Glossary
				.inner.cover
					h1.cover-heading Thingworx Machine Learning
					p.lead Experimental UI for working with ThingWorx Machine Learning
					
					#carousel-example-generic.carousel.slide(data-ride='carousel')
						// Indicators
						ol.carousel-indicators
							li.active(data-target='#carousel-example-generic', data-slide-to='0')
							li(data-target='#carousel-example-generic', data-slide-to='1')
							li(data-target='#carousel-example-generic', data-slide-to='2')
							li(data-target='#carousel-example-generic', data-slide-to='3')
						
						// Wrapper for slides
						.carousel-inner
							.item.active
								img(src='images/learn.png', alt='Introduction to ThingWorx ML terms', width=800, height=400) 
								.carousel-caption
									h2(style="background-color: #FFFF00; color: #000000") ThingWorx ML overview
							.item
								img(src='images/inline_help.png', alt='Inline help for input fields') 
								.carousel-caption
									h2(style="background-color: #FFFF00; color: #000000") Inline help for input fields
							.item
								img(src='images/form_validation.png', alt='Live form validation')   
								.carousel-caption
									h2(style="background-color: #FFFF00; color: #000000") Live form validation
							.item
								img(src='images/glossary.png', alt='Glossary page with search box')
								.carousel-caption
									h2(style="background-color: #FFFF00; color: #000000") Glossary page
						
						// Controls
						a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
							span.glyphicon.glyphicon-chevron-right
					br
					#homepageButtons
						p
							a.btn.btn-lg.btn-primary(role='button', href='/learn') Learn More
							| &nbsp;&nbsp;
							a.btn.btn-lg.btn-success(role='button', href='/actions') Getting Started
