doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="Experimental ThingworxML UI")
		meta(name="author", content="Mirco Veltri")
		//  CSS files
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/formvalidation/formValidation.min.css")
		link(rel="stylesheet" href="/stylesheets/header.css")
		link(rel="stylesheet" href="/stylesheets/footer_page.css")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		// JS files
		script(src="/javascripts/3rdparty/jquery2.1.4.min.js")
		script(src="/javascripts/3rdparty/bootstrap.min.js")
		script(src="/javascripts/3rdparty/bootstrap.file-input.js")
		script(src="/javascripts/3rdparty/formvalidation/formValidation.min.js")
		script(src="/javascripts/3rdparty/formvalidation/framework/bootstrap.min.js")
		script(src="/javascripts/3rdparty/ie10-viewport-bug-workaround.js")
	body
		block header
			include ../partials/header.jade
		
		block content
		
		block footer
			include ../partials/footer.jade
