extends layouts/page

block content
	br
	br
	br
	.container
		.jumbotron
			h2 ThingWorx Machine Learning - #{title}
		div.form-group.pull-right
			input(type="text" class="search form-control" placeholder="What you looking for?")
		span.counter.pull-right
		#table-responsive
			table#glossaryTable.table.table-striped.table-bordered.results
				thead
					tr
						th TERM
						th DEFINITION
						th LINK
					tr.warning.no-result
						td(colspan="4")
							i.fa.fa-warning No result
				tbody
					each v in pageData.name
						tr
							td
								b=v.term
							td=v.definition
							td
								a(href="#{v.link}") View

	script(src="/javascripts/glossary.js")
